@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-size: 1.7vmin;
}

html {
    background-image: linear-gradient(90deg, #BD255C, #F1572A);
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-family: 'Raleway';
    font-weight: normal;
    background-color: transparent;
    width: 120vmin;
    /* box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px 0px;*/
}

.container {
    width: 120vmin;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px 0px;
}

.container-main-item {
    background-color: #30323A;
    ;
    height: 20vmin;
    width: 10vmin;
    margin-top: 8px;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px 0px;
}

.profil-o {
    width: 40vmin;
}

.about {
    width: 75vmin;
}

.profil-u {
    width: 40vmin;
    background-color: rgba(100, 100, 100, 0.35);
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75vmin;
    background-color: rgba(100, 100, 100, 0.35);
    color: white;
    padding: 10px;
}

.contact div {
    display: flex;
    width: 40%;
    height: 50%;
    color: white;
    font-family: 'Roboto';
    align-items: center;
    justify-content: flex-start;
}

.contact div:hover {
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px 0px;
}

.contact p {
    display: inline-block;
    font-size: 1.7vmin;
}

.contact .icon {
    margin-right: 24px;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 4vmin;
    vertical-align: middle;
}

.story {
    width: calc(115vmin + 16px);
    height: 40vmin;
}

.erfahrungen {
    width: 57.5vmin;
    height: 40vmin;
}

.skills {
    width: 57.5vmin;
    height: 40vmin;
}

.sprachen {
    width: 40vmin;
}

.hobbies {
    width: 75vmin;
    margin-bottom: 10px;
}